
/* * {
  border: 2px solid red;
} */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  font-family: 'Arial', 'Helvetica Nue', Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;

}

/*
Top Bar
*/
header {

  width: 100%;
  background: #ffffff;
  border:0px 1px solid #cccccc;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 2.2em;

}
.topbar {
  align-self: center;
  width: 960px;
  align-content: center;
  margin: 0 auto;
}
header h1 {
  text-indent: 0.8em;
  font-size: 1.9em;
  font-weight: 500;
  width: 300px;
  float: left;
  height: 62px;
  position: relative;
  bottom: 13px;
  padding-top: 21px;
  color: white;
  background: #4aaaa5;
}
header ul{
 list-style-type: none;
 margin-right: 40px;
 padding-top: 25px;

}
header li {
  text-decoration: none;
  float: right;
  vertical-align: middle;
  border-right: 1px solid #bbb;
}
header li:first-child {
  border-right: none;
}
header a:hover {
    background-color: lightgray;
}
header a:active {
  color: #FF00FF;
}
header a {
  display: inline;
  padding: 8px;
  text-decoration: none;

}

/*
 Heading size
*/

h1, h2, h3, h4 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}
h2, h3, h4 {
  color: #4aaaa5;
  font-weight: bold;
}
h2 {
  font-size: 1.6em;
  border-bottom: 3px solid lightgrey;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-up: 5px;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}


/* Main Body Area */

.content-area {
  width: 960px;

}
.main-section {
  height: auto;
  width: 650px;
  float: left;
  background: white;
  border: 3px solid lightgray;
  padding: 10px 10px;
}
/*
Index Page
*/
.main-section{
  margin-bottom: 100px;
}
.main-section p {
  font-size: 1.1em;
  line-height: 1.6em;
  text-indent: 2em;
}
.small-pic {
  width: 50px;
  height: 50px;
}
#my-pic {
  width: 100px;
  height: 100px;
}

/*
Form Page
*/

 form input {
   width: 100%
 }
 #formMessage {
   height: 100px;
 }
 #submit {
   height: 25px;
 }

/*
Portfolio
*/
.flex-container {
  display: flex;

}
.flex-obj {
  width: 280px;
  height: 280px;
  margin: 12px;
  padding: 5px;
}
.banner {
  position: relative;
  bottom: 100px;
  text-align: center;
  background: #4aaaa5;
  color: white;
  width: 300px;
  height: 45px;
  padding-top: 8px;
}

/*
Links on the Side
*/
.sidebar {
  float: right;
  width: 260px;
  height: 140px;
  background: white;
  border: 3px solid lightgray;
  /*margin: 10px 10px;*/
}
.sidebar h3 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left:20px;
  border-bottom: 3px solid lightgrey;
  width: 220px;
}
.sidebar a {
  display: inline-block;
}
.links {
  padding-left: 50px;
  margin-top: 20px;

}
/*Footer Area*/

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width:100%;
  background: #666666;
  height: 50px;
  border-top: 8px solid #4aaaa5;
}
.footer {
  font-weight: bold;
  padding-top: 25px;
  font-size: .8em;
}
